html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: url('../img/background.jpg') fixed ;
	background-size: cover;
font-size: 14px;
}
.vpheight {
	height: 100vh;
	position: relative;
}

.clear {
	clear: both;
}

/*                 Caroussel de la bouffe                */
#caroussel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
	height:100vh;
	background: #000;
	overflow:hidden;
	min-width: 800px;
}

.imgcontainer {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height:100vh;
	overflow: hidden;
	background-color: black;
}

.imgslide {
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height:100vh;
	list-style:none;
	/* 	filter: blur(5px);
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px); */
}
/*                 Test fullscreen video                   */
video { 
	min-width: 100vw;
	min-height: 100vh;
	background: url("img/food.png" ) no-repeat;
	background-size: cover;
	opacity: 0.7;
	transition: 1s opacity;
}
.stopfade { 
	opacity: .5;
}

/*                 Premier Container                     */
.frist-contain {
	min-width: 800px;
}
/*                Menu de Navigation                    */
nav {
	position: fixed;
	width: 100%;
	z-index:100;
}

#ulnav {
	background: url('../img/banniere.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px black inset;
	border: 2px solid rgb(217,138,12);
	padding: 0px;
	margin: 0px;
	text-align: center;
	
}

.navposition {
	list-style: none;
	line-height: 60px;
	color : rgb(252,237,92);
	font-family: 'Podkova', serif;
	display: inline-block;
	padding: 0 1%; 
	background: rgba(255,255,255,0);
	transition: all 0.3s linear;
	font-size: 1.3em;
	text-decoration: none;
}

.navposition:nth-child(3) {
    padding: 0px 7px;
	width: 118px;
}
.logonav {
	position: absolute;
	top: -35px;
	left: -7px;
	width: 120px;
	padding: 0 4%;
	line-height: 30px;
	font-family: 'Sancreek', cursive;
	background: rgba(255,255,255,0);
	transition: all 0.3s linear;
}
.logonav:hover {
	background: rgba(255,255,255,0.8);
	color:  #A60505;

}
.lilogo {
	position: relative;

}
.navposition:hover {
	background: rgba(252,237,92,0.7);
	color: white;
	text-decoration: none;
}
.navposition:focus {
	color : rgb(252,237,92);
	text-decoration: none;
}

/*                    Centre du header                    */
header {
	position: relative;
}

.centrage-apropos {
	padding-top: 28vh;
	text-align:center;
	color: white;
}
#descript {
	display: inline-block;
	width: 50vw;
	border: 1px solid rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.5);
	padding:  20px 40px;

}
h2 {
	font-family: 'Sancreek', cursive;
	letter-spacing: 0.1em;
	font-size: 2.2em;
}
#descript p {
	font-family: 'Dancing Script', cursive;
	font-size: 1.2em;
}

.rightslide {
	position: absolute;
	width: 44px;
	top: 50vh;
	right: 5vw;
	cursor: pointer;
}
#prev {
	color: rgba(255,255,255,0.7);
}
.leftslide{
	position: absolute;
	width: 44px;
	top: 50vh;
	left: 5vw;
	cursor: pointer;
}
#next {
	color: rgba(255,255,255,0.7);
}
.cycle-pager {
	position:absolute;
	color: rgba(255,255,255,0.7);
	bottom: 8vh;
	font-size: 3.5em;
	right: 8vw;
	bottom: 3vh;
	cursor: pointer;
}


/*                button bas de pages                */

.bottomslide {
	position:absolute;
	bottom: 3vh;
	left: 47.5vw;
}
.bottomslide a {
	color: rgba(255,255,255,0.7);
}

/*                Centrage des sections              */

.center {
	padding: 15vh 0 0;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

/*               Section Réservation                 */

.contain-resa {
	width: 860px;
}

#week-menu {
	background-color: rgba(238,231,212,0.6);
	position: relative;
	float: right;
	border: 3px solid #ad9c71;
	width: 371px;
	min-height: 486px;
	margin-right: 4%;
	font-family: 'Podkova', serif;
	font-size: 1em;
	padding: 0px 1% 1%;
	text-align: center;
}


.menu {
	margin-bottom: 10px;
}

#horaire {
	background-color: rgba(238,231,212,0.6);
	float: left;
	border: 3px solid #ad9c71;
	width: 356px;
	min-height: 100px;
	margin-left: 4%;
	margin-bottom: 30px;
	font-family: 'Podkova', serif;
	font-size: 1.2em;
	text-align: center;
}

#form-resa {
	background-color: rgba(238,231,212,0.6);
	position: relative;
	clear: left;
	width: 356px;
	min-height: 150px;
	margin-left: 4%;
	font-family: 'Podkova', serif;
	font-size: 1.2em;
	border: 3px solid #ad9c71;
	padding-bottom: 10px;
}
.liencarte {
	position: absolute;
	text-align: center;
	bottom: -42px;
	right: -3px;
	height: 40px;
	transition: all 0.3s linear;
	border: 1px solid #AD9C71 ;
	height: 40px;
	width: 140px;
	background: #AD9C71;
	font-family: 'Podkova', serif;
	font-size: 1em;
}
.liencarte a {
	color: #EEE7D4;
	text-decoration: none;
	transition: all 0.25s linear;
}
.liencarte:hover {
	background: #EEE7D4;

}
.liencarte:hover a {
	color: #AD9C71;
}

h3 {
	font-family: 'Sancreek', cursive;
	text-align: center;
	color: #A60505
}
h2 {
	font-family: 'Sancreek', cursive;
	font-size: 1.3em;
	letter-spacing: 0.03em;
	color: #A60505
}
.formulaire-resa {
	width: 320px;
	margin: 0 auto;
}
.design-resa {
	padding: 4px 0;

}

.label-resa {
	display: block;
	width: 140px;
	float: left;
	color: black;
}

.design-resa input {
	width: 160px;
	border: none;
	line-height: 30px;
	font-size: 0.8em;
}

#submit {
	position: absolute;
	text-align: center;
	border: 1px solid #AD9C71 ;
	background: #AD9C71;
	color: #EEE7D4;
	bottom: -42px;
	right: -3px;
	width: 140px;
	height: 40px;
	font-family: 'Podkova', serif;
	font-size: 1em;
	transition: all 0.25s linear;
}
#submit:hover {
	background: #EEE7D4;
	color: #AD9C71;
}

/*                envenement              */

.event {
	position:  relative;
	display: inline-block;
	width: 30%;
	margin: 0 1%;
	min-height: 390px;
	border: 4px solid #AD9C71;
	letter-spacing: 0.03em;
}

.event-contain{
	padding: 1%;   
	background-color: rgba(238,231,212,0.6);
}

.img-1 {
	position: absolute;
	background: url('../img/wtf.jpg') center;
	background-size: cover;
	width: 100%;
	height: 70%;
	bottom: 0;
	left: 0px;
	z-index: -1;
}
.img-2 {
	position: absolute;
	background: url('../img/femalfist.jpg') center;
	background-size: cover;
	width: 100%;
	height: 70%;
	bottom: 0;
	left: 0px;

	z-index:-1;
}
.img-3 {
	position: absolute;
	background: url('../img/mexicaine.jpg') center;
	background-size: cover;
	width: 100%;
	height: 70%;
	bottom: 0;
	left: 0px;

	z-index: -1;
}

.alert {
	padding: 8px;
	margin: 5px 24px 0px;
}

.msg {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 40px;

}

.col-right {
	margin-bottom: 30px;
}
.msg .alert {
	margin: 0px 26px 0px 0px;
}
.center-contact {
	padding: 12vh 0 0;
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
}


/*     affichage de la gallery du resto    */

.gallery img {
	float: left;
	padding: 0 2px 2px 0;
	/* Yes, you *can* adjust/remove padding. */
}
.gallery {
	padding-bottom: 30px;
}
.center-resto {
	padding: 12vh 0px 0px;
	width: 100%;
	margin: 0px;

}

#containgallery {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px;
}

/*                     contact                         */

.col-contact {
	background-color: rgba(238,231,212,0.6);
	border-radius: 5px;
	border: 3px solid #AD9C71;
	font-family: 'Podkova', serif;
}

address {
	font-size: 1.2em;
}